# Xcode
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.xcworkspace/xcuserdata/

# User-specific Xcode files
xcuserdata/

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Crashlytics
crashlytics.settings
crashlytics-build.properties

# Playgrounds
timeline.xctimeline
playground.xcworkspace
